<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- HEAD开始 -->
<head>
    <meta charset="utf-8" />
    <title>传语翻译Gramtu</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="shortcut icon" type="image/x-icon" href="/public/manager/assets/pages/img/favicon.ico" />
</head>
<body>
    <form action="login" style="text-align: center">
        <button type="submit" style="margin-top: 20px; height: 100px; width: 200px; font-size: 35px">登录</button>
    </form>

</body>
</html>