<!-- 该页面嵌套到layout页面中 -->
{% extends 'layout.html' %}

<!-- 以下部分页面嵌套到layout的block main和endblock之间 -->
{% block main %}

<!--本页面用到的JS-->
<script src="../../public/manager/assets/global/plugins/echartsjs/echarts.js" type="text/javascript"></script>
<script src="../../public/manager/assets/pages/scripts/scan-echarts.js" type="text/javascript"></script>
<style>
    .right{
        right:15px;
        padding-right:15px
    }
    .left{
        left:15px;
        padding-left:15px
    }
    .number{
        font-size: 25px!important;
        padding-top: 10px!important;
    }
</style>
<!-- 扫描次数统计开始 -->
<div class="row" style="margin-top: -15px">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">会员统计</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat dashboard-stat-v4 blue">
                            <div class="visual">
                                <i class="fa fa-comments"></i>
                            </div>
                            <div class="details right">
                                <div class="number">
                                    <span id="todayUser">0</span><span> 人</span>
                                </div>
                                <div class="desc"> 今日注册人数 </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat dashboard-stat-v4 red">
                            <div class="visual">
                                <i class="fa fa-bar-chart-o"></i>
                            </div>
                            <div class="details right">
                                <div class="number">
                                    <span id="totalUser">0</span><span> 人</span>
                                </div>
                                <div class="desc"> 总注册人数 </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat dashboard-stat-v4 green">
                            <div class="visual">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                            <div class="details right">
                                <div class="number ">
                                    <span id="totalCount">0</span><span> 个</span>
                                </div>
                                <div class="desc"> 全部订单数 </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat dashboard-stat-v4 purple">
                            <div class="visual">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="details right">
                                <div class="number">
                                    <span id="totalAmount">0</span><span> 元</span>
                                </div>
                                <div class="desc"> 全部订单金额 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">订单统计</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat dashboard-stat-v4 blue">
                            <div class="visual">
                                <i class="fa fa-comments"></i>
                            </div>
                            <div class="details right">
                                <div class="number">
                                    <span id="todayGramCount">0</span><span> 个</span>
                                </div>
                                <div class="desc"> 今日Gram订单数 </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat dashboard-stat-v4 red">
                            <div class="visual">
                                <i class="fa fa-bar-chart-o"></i>
                            </div>
                            <div class="details right">
                                <div class="number">
                                    <span id="todayGramAmount">0</span><span> 元</span>
                                </div>
                                <div class="desc"> 今日Gram订单金额 </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat dashboard-stat-v4 green">
                            <div class="visual">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                            <div class="details right">
                                <div class="number">
                                    <span id="totalGramCount">0</span><span> 个</span>
                                </div>
                                <div class="desc"> 全部Gram订单数 </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat dashboard-stat-v4 purple">
                            <div class="visual">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="details right">
                                <div class="number">
                                    <span id="totalGramAmount">0</span><span> 元</span>
                                </div>
                                <div class="desc"> 全部Gram订单金额 </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat dashboard-stat-v4 blue">
                            <div class="visual">
                                <i class="fa fa-comments"></i>
                            </div>
                            <div class="details left">
                                <div class="number">
                                    <span id="todayTurninCount">0</span><span> 个</span>
                                </div>
                                <div class="desc"> 今日Turnin国际<br>订单数 </div>
                            </div>
                            <div class="details right">
                                <div class="number">
                                    <span id="todayTurninAmount">0</span><span> 元</span>
                                </div>
                                <div class="desc"> 今日Turnin国际<br>金额 </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat dashboard-stat-v4 red">
                            <div class="visual">
                                <i class="fa fa-bar-chart-o"></i>
                            </div>
                            <div class="details left">
                                <div class="number">
                                    <span id="totalTurninCount">0</span><span> 个</span>
                                </div>
                                <div class="desc"> 全部Turnin国际<br>订单数 </div>
                            </div>
                            <div class="details right">
                                <div class="number">
                                    <span id="totalTurninAmount">0</span><span> 元</span>
                                </div>
                                <div class="desc"> 全部Turnin国际<br>金额 </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat dashboard-stat-v4 blue">
                            <div class="visual">
                                <i class="fa fa-comments"></i>
                            </div>
                            <div class="details left">
                                <div class="number">
                                    <span id="todayTurninUKCount">0</span><span> 个</span>
                                </div>
                                <div class="desc"> 今日TurninUK<br>订单数 </div>
                            </div>
                            <div class="details right">
                                <div class="number">
                                    <span id="todayTurninUKAmount">0</span><span> 元</span>
                                </div>
                                <div class="desc"> 今日TurninUK<br>金额 </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat dashboard-stat-v4 red">
                            <div class="visual">
                                <i class="fa fa-bar-chart-o"></i>
                            </div>
                            <div class="details left">
                                <div class="number">
                                    <span id="totalTurninUKCount">0</span><span> 个</span>
                                </div>
                                <div class="desc"> 全部TurninUK<br>订单数 </div>
                            </div>
                            <div class="details right">
                                <div class="number">
                                    <span id="totalTurninUKAmount">0</span><span> 元</span>
                                </div>
                                <div class="desc"> 全部TurninUK<br>金额 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row" style="margin-top: -15px">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">订单趋势</span>
                </div>
            </div>
            <div class="portlet-body">
                <div id="echarts_line" class="chart"></div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: -15px">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">订单分布</span>
                </div>
            </div>
            <div class="portlet-body">
                <div id="echarts_pie" class="chart"></div>
            </div>
        </div>
    </div>
</div>
<!-- 密码为初始密码（123456）时强制弹框开始 -->
<div id="edit_main" class="modal fade" tabindex="-1" data-width="400" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">修改密码</h4>
            </div>
            <div class="modal-body">
                <form class="password-form form-horizontal" role="form" >
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-offset-1 col-md-2 control-label">原密码<span class="required"> * </span></label>
                                <div class="col-md-7">
                                    <input type="password" class="form-control" placeholder="原密码" name="opassword" id="oldpassword" maxlength="12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-offset-1 col-md-2 control-label">新密码<span class="required"> * </span></label>
                                <div class="col-md-7">
                                    <input type="password" class="form-control" placeholder="新密码" name="npassword" id="npassword" maxlength="12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-offset-1 col-md-2 control-label">确认密码<span class="required"> * </span></label>
                                <div class="col-md-7">
                                    <input type="password" class="form-control" placeholder="确认密码" name="rpassword" maxlength="12">
                                </div>
                            </div>
                            <div class="form-group" >
                                <div style="text-align: center;" ><span class="required" style="font-size: 15px;">* 当前密码为初始密码，请修改密码</span></div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-5 col-md-9">
                            <button class="btn blue" id="password_modify">确认</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 密码为初始密码（123456）时强制结束开始 -->
{% endblock %}